# =========================
# Private & sensitive data
# =========================
data/
data/**
*.db
*.sqlite

# =========================
# Python
# =========================
__pycache__/
*.pyc
.venv/
.env

# =========================
# Local experiments
# =========================
scripts/sandbox.py

# =========================
# OS / Editor
# =========================
.DS_Store
.vscode/
